@import url("reset.css");

body {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #6c757d;
}

[class*="_container"]{
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.article {
	padding-top: 80px;
	padding-bottom: 80px;
}

.article_text_block {
	max-width: 816px;
	margin: 0 auto 80px;
}

.article_text_block p {
	line-height: 1.78; /* 25/14 */
	margin-bottom: 30px;
}

.article_title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6; /* 40/25 */
	max-width: 605px;
	margin-bottom: 40px;
	color: #212529;
}

.article_image {
	max-width: 100%;
	margin-bottom: 80px;
}

.images {
	font-size: 0%;
	margin-bottom: 80px;
}

.article_image_boat {
	margin-right: 30px;
}

.article_image_clothes {
	margin-right: 30px;
}

/*------Practical homework-------*/


.homework_title {
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: blue;
	text-align: center;
	margin: 0 auto 40px;
}

/*-----border-----*/

.block_border_container {
	max-width: 816px;
	background-color: goldenrod;
	margin-bottom: 10px;
	border: 5px solid green;
	/*border: 5px dotted green;*/
	/*border: 5px dashed green;*/
	/*border: 5px double green;*/
	/*border-top: 5px solid;*/
	/*border-right: 3px solid red;*/
	/*border-bottom: 2px solid blue;*/
	/*border-left: 1px solid black;*/
}

.inline_border {
	background-color: aqua;
	border: 5px solid green;
	line-height: 200%;
}

.block_inline_border {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	border: 5px solid yellow;
	margin-bottom: 40px;
}

/*-----Outline-----*/

.block_outline_container {
	max-width: 816px;
	background-color: goldenrod;
	margin-bottom: 20px;

	outline: 5px solid green;
}

.inline_outline {
	background-color: aqua;
	line-height: 140%;

	outline: 5px solid green;
}

.block_inline_outline {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 40px;

	outline: 5px solid green;
}

/*-----Border-radius-----*/

.block_border-radius_container {
	max-width: 816px;
	background-color: goldenrod;
	margin-bottom: 20px;

	border-radius: 20px;
	/*border-radius: 20px 50px 50px 20px;*/
	/*border-radius: 84% 16% 79% 21% / 25% 76% 24% 75% ;  /*--https://9elements.github.io/fancy-border-radius/--*/
}

.inline_border-radius {
	background-color: aqua;
	line-height: 200%;

	border-radius: 20px;
}

.block_inline_border-radius {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 40px;

	border-radius: 50%;
}

/*-----Box-shadow-----*/

.block_box-shadow_container {
	max-width: 816px;
	background-color: goldenrod;
	margin-bottom: 20px;

	box-shadow: 5px 5px 10px 0px black;
	/*box-shadow: inset 5px 5px 10px 0px black;*/
}

.inline_box-shadow {
	background-color: aqua;
	line-height: 200%;

	box-shadow: 5px 5px 10px 0px black;
}

.block_inline_box-shadow {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 40px;

	box-shadow: 10px 5px 10px 0px black;
}

/*-----Opacity-----*/

.block_opacity_container {
	max-width: 816px;
	background-color: goldenrod;
	margin-bottom: 20px;

	opacity: 0.5;
}

.inline_opacity {
	background-color: aqua;
	line-height: 200%;

	opacity: 0.3;
}

.block_inline_opacity {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 40px;

	opacity: 0.2;
}

/*-----Visibility-----*/

.block_visibility_container {
	max-width: 816px;
	background-color: goldenrod;
	margin-bottom: 20px;

	visibility: hidden;
}

.inline_visibility {
	background-color: aqua;
	line-height: 200%;

	visibility: visible;
}

.block_inline_visibility {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 40px;

	visibility: hidden;
}

/*-----Button-----*/

.button {
	display: inline-block;
	padding: 10px;
	background-color: rgb(26, 14, 197);
	color: #fff;
	margin-left: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 5px solid green;
	box-shadow: 0 5px 00 #000;
	position: relative;
	top: 0;
	transition: all 0.3s;
}

.button:hover {
	top: 3px;
	box-shadow: 0 2px 00 #000;
}

