@import url(reset.css);

body {
	font-family: "Poppins";
}

p {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	color: #6C757D;
}

.header {
	width: 1440px;
	height: 500px;
	margin-bottom: 115px;
}

.conteiner-title {
	width: 400px;
	height: 80px;
	margin-left: 312px;
	margin-right: 428px;
	margin-bottom: 40px;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #212529;
}

.paragraph {
	width: 816px;
	height: 450px;
	margin-left: 312px;
	margin-right: 312px;
	margin-bottom: 80px;
}

.conteiner-title-2 {
	width: 605px;
	height: 120px;
	margin-left: 312px;
	margin-right: 523px;
	margin-bottom: 40px;
}

.paragraph-2 {
	width: 816px;
	height: 325px;
	margin-left: 312px;
	margin-right: 312px;
	margin-bottom: 80px;
}

.desert-img {
	width: 1240px;
	height: 400px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 80px;
}

.images {
	font-size: 0;
	margin-left: 100px;
	margin-bottom: 80px;
}

.boat-img {
	margin-right: 30px;
	max-width: 100%;
}

.bay-img {
	max-width: 100%;
}

.paragraph-3 {
	width: 816px;
	height: 175px;
	margin-left: 312px;
	margin-right: 312px;
	margin-top: 80px;
}